# exclude all collections except the {{applicationName}}
collections/ansible_collections/cloud*

{{#collectionsGitignore}}collections/ansible_collections/{{.}}
{{/collectionsGitignore}}
collections/ansible_collections/{{organization}}/*

!collections/ansible_collections/{{organization}}/{{applicationName}}
!collections/ansible_collections/{{organization}}/{{applicationName}}/**

# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible

__pycache__